In [4]:
#create libraries
import pandas as pd
from sqlalchemy import create_engine

em_engine = create_engine('postgresql://postgres:Aj142536$@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [9]:
df_emp_data = pd.read_sql("select * from employees",connection )
df_emp_data.head()

   emp_no   birh_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [10]:
em_execute = em_engine.execute("select * from employees", connection)
em_execute.head()

AttributeError: 'ResultProxy' object has no attribute 'head'